* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 153, 193);
    border-radius: 5px;
    color: whitesmoke;
}

.box input {
margin: 10px;
padding: 2px;
}